 .education,
 .experience
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}
 h3.title
{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}
 .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
}
 .timeline
{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border:  1px solid var(--bg-black-5o);
    border-radius: 10px;
    width: 100%;
    position: relative;
}
 .timeline .timeline-item
{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
 .timeline .timeline-item:last-child
{
    padding-bottom: 0;
}
 .timeline .timeline-item::before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
 .timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}
 .timeline .timeline-date
{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}
 .timeline .timeline-date .fa
{
    margin-right: 5px;
}
 .timeline .timeline-title
{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}
 .timeline .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}


.shadow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

:root {
    --skin-color: #198754;
}



@media (max-width:767px)
{
    .experience,
    .education
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
